.staticProfileView {
    width: 1200px;
    height: 200px;
    background: whitesmoke;
    margin-right: auto;
    margin-left: auto;
}

.staticProfileView.spgrid {
    display: grid;
    grid-template-areas:
            "p n n o"
            "p w w w"
            "p w w w";
    grid-template-rows: 1fr 2fr 2fr;
    grid-auto-columns: 1fr 1fr 1fr 1fr;
}

.avatarField {
    grid-area: p;
    background: blanchedalmond;
}

.nameField {
    grid-area: n;
    background: blueviolet;
}

.wallpaperField {
    grid-area: w;
    background: brown;
}

.emptyField {
    grid-area: o;
    background: whitesmoke;
}